body {
    background-color: lightblue;
}

@media screen {
    div.folders img {
        height: 20%;
        width: 20%;
        text-align: center;
        padding: 20px;
    }
}

@media handheld {
    div.folders img {
        height: 90%;
        width: 90%;
        text-align: center;
    }
}
