        .disabled>.page-link {
            cursor: default;
            pointer-events: none;
        }
        .pagination>.disabled>span:hover, span , li#prevbtn, li#nextbtn {
            cursor: pointer;
        }
        .pagination>.disabled>a{
            background-color: #449d44;
        }
        .pagination>.disabled>a>span {
            color: #fff;
        }
        .page {
            padding: 70px 0;
            text-align: center;
        }
        .paginationNav{
            text-align: center;
        }
        .boldLabel{
            font-weight: bold;
        }
        .buttons {
            width:100%;
            position: absolute;
            top: 10%;
            left: 23%;
        }
        .caption {
            width:100%;
            position: absolute;
            top: 50%;
        }
        .col-lg-2 {
            padding-bottom: 20px;
        }
        .container {
            width:100%;
        }
        .thumbnail {
            background-color: transparent;
            border: 0 none;
            margin:0;
            padding:0;
        }

        .caption .folderName {
            color: #fff;
            font-size: 200%;
            -webkit-font-smoothing: antialiased;
        }
        .buttons i{
            cursor: pointer;
        }
        .material-icons{
            style="font-size:24px";
        }
        .buttonHolder{
            padding-top: 20px;
            text-align: center;
        }


