.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.imageBorder {
    border:1px solid #021a40;
}

.form-control{
    width: 100%;
}

textarea {
    resize: none;
}

.inline {
    display: inline-block;
}

.buttons {
    position: absolute;
    top: 4%;
    margin: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.buttons i{
    cursor: pointer;
    vertical-align: middle;
}

.error{
   color: red;
}

.buttonHolder, .gallery{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.picture{
     padding-bottom: 30px;
}

img:hover {
    cursor:pointer;
}

.enlargeImageModalSource{
    width: 100%;
}