.panel-title > a:before {
    font-family: FontAwesome;
    content:"\f139";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    content:"\f13a";
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
    text-decoration:none;
}

label, label span{
    cursor: default;
}

.form-group{
    padding: 10px;
}

input[type=radio] {
    width: 15px;
    height: 15px;
    margin: 0;
}

.enlargeImageModalSource{
    width: 100%;
}

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
}
.body{
    overflow-y:auto;
}